</main>

<div class="foot">
<footer class="d-flex flex-wrap justify-content-between align-items-center py-4 my-8 border-top text-center">
  
  <p>Imofacil Seguros© <span id="demo"></span></p>

  <a href="https://www.livroreclamacoes.pt/Inicio/" class="d-flex justify-content-center mb-4 mb-md-1 link-body-emphasis text-decoration-none">
      <img src="/Images/livrorec.png" alt="livro reclamações" width="200" height="50" class="w-100">
  </a>

  <ul class="nav justify-content-center">
      <li class="nav-item"><a href="/home" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="/contato" class="nav-link px-2 text-body-secondary">Contacto</a></li>
      <li class="nav-item"><a href="https://www.imofacil.pt/" class="nav-link px-2 text-body-secondary">Imobiliário</a></li>
  </ul>

</footer>
</div>
<script>
  const d = new Date();
  document.getElementById("demo").innerHTML = d.getFullYear();
</script>
</body>

</html>