<%- include("partials/header.ejs") %>

<section>
  <div class="bloco_texto">
    <div class="column small-12 medium-10">
      <div class="cont_tit">
        <h1 class="titulos">A proteção adequada contra o inesperado</h1>
      </div>
        <div class="textos"><br>
            <h6>Consigo, em todos os momentos! Na vida profissional ou particular, a viajar em Portugal ou no estrangeiro, o seguro <strong>PRÉVOIR Acidentes Pessoais</strong> é a proteção certa contra imprevistos em caso de acidente, protegendo-o 24 horas por dia.</h6>
              <ul>
                <li>Um capital&nbsp;até 200.000€ em caso de morte ou de invalidez permanente.</li>
                <li>Serviços completos de assistência&nbsp;que podem ser utilizados até aos 75 anos.</li>
                <li>Indemnização em caso de baixa médica, paga na totalidade, logo após validação do sinistro.</li>
                <li>Despesas de tratamento e repatriamento incluídas.</li>
                <li>Opção de extensão das garantias em caso de condução de veículos motorizados de 2 rodas de cilindrada igual ou superior a 250cc.</li>
                <li>Sem exames médicos.</li>
              </ul>
        </div>
    </div>
  </div>
</section>

<section>
  <div class="col-12 d-flex justify-content-center align-items-center">
      <h6>Mais informações, baixe o folheto informativo.</h6>   
  </div>
</section>

<section>
  <div class="col-12 d-flex justify-content-center align-items-center">
     <a href="/Folheto_comercial_P.Acidentes_Pessoais_Set2023_web.PDF"><img src="/Images/Folheto Acidentes Pessoais.jpg" height="400" alt="Folheto"></a> 
  </div>
</section>
<br>
<br>

<%- include("partials/footer.ejs") %>