<%- include("partials/header.ejs") %>

<section>
    <div class="container col-xxl-10 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-4">
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1800.2958018938552!2d-8.650027024495094!3d40.635955701524594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd23980876fd27fd%3A0x21dca4dd7ecdfa39!2sR.%20Jos%C3%A9%20Joaquim%20Lopes%20de%20Lima%206A%2C%203810-164%20Aveiro!5e0!3m2!1spt-BR!2spt!4v1741019753708!5m2!1spt-BR!2spt" width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="col-lg-8">
            <h2 class="display-4 fw-bold text-body-emphasis lh-1 mb-3">Imofacil Seguros, Lda</h2>
            <h3 class="lead">Certificado 2023/843</h3>
            </br>
            <address>
                <h5>Contato Consultor: +351 937 463 061</h5>
                <p>(Chamada para rede móvel nacional)</p>
                <br>
                <h6>Rua José Joaquim Lopes Lima, 6A RC Direito, 3810-101 Glória e Vera Cruz, Aveiro </h6>
                <br>
                <h6>E-mail: seguros@imofacil.pt</h6>
            </address>
          
          </div>
        </div>
      </div>
</section>
</br>
</br>
</br>

<%- include("partials/footer.ejs") %>