<%- include("partials/header.ejs") %>

<section>
  <div class="container">
    <div class="px-4 py-5 my-5 text-center">
      <img class="img-fluid d-sm-flex mx-auto mb-4" src="/Images/Sem título.jpg" alt="Imofacil">
      <h1 class="display-5 fw-bold text-body-emphasis">Temos o Seguro Certo para si e para sua empresa.</h1>
      <br>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Conheça os Seguros da Prevoir e todas as vantagens que podemos oferecer-te.</p>
      </div>
    </div>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <a href="/contato" class="text-decoration-none">
        <button type="button" class="btn btn-warning btn-lg px-4 me-sm-3">Solicite sua simulação</button>
      </a>
    </div>
  </div>
  
</section>

<section id="seguros" class="diversos">
  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Nossos Seguros</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <img class="img-fluid d-sm-flex" src="/Images/Prevoir Acidentes Pessoais2.jpg" alt="ap" height="200">
        </div>
        <a href="/ap" class="icon-link"><h3 class="fs-2">Prevoir Acidentes Pessoais</h3></a>
        <p>A proteção adequada contra o inesperado. Agora, pode contar com uma proteção abrangente, tanto na vida profissional
          como na pessoal, esteja em Portugal ou em qualquer parte do mundo. Estar próximo de si
          é permitir-lhe estar protegido 24h/dia, em caso de acidente.</p>
      </div>

      <div class="feature col">
        <div class="d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <img class="img-fluid d-sm-flex" src="/Images/Habitação 2.jpg" alt="briefcase" height="200">
      </div>
      <br>
        <a href="/hab" class="icon-link"><h3 class="fs-2">Prevoir Habitação</h3></a>
        <p>O PRÉVOIR Vida Domus oferece-lhe a segurança que necessita, garantindo o pagamento do capital em dívida à instituição de crédito, em caso de morte ou invalidez, ou de prestações do empréstimo no caso de incapacidade temporária para o trabalho.
        Se o cancro lhe bater à porta, estaremos do seu lado com um importante apoio financeiro.</p>
      </div>

      <div class="feature col">
        <div class="d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <img class="img-fluid d-sm-flex" src="/Images/PPR2.jpg" alt="briefcase" height="200">
        </div>
        <a href="/ppr" class="icon-link"><h3 class="fs-2">Prevoir PPR</h3></a>
        <p> Quanto mais cedo começar a poupar, maior será o seu pé-de-meia. O PRÉVOIR PPR adapta-se à sua disponibilidade financeira com entregas desde 25€ por mês. Comece já a construir uma poupança para o futuro.
          Para 2023, a taxa de rentabilidade será no mínimo de 1,50%. </p>
      </div>

      <div class="feature col">
        <div class="d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <img class="img-fluid d-sm-flex" src="/Images/Saude2.jpg" alt="briefcase" height="200">
        </div>
        <a href="/Saude" class="icon-link"><h3 class="fs-2">Prevoir Saúde</h3></a>
        <p>Num mundo instável, repleto de incerteza, o PRÉVOIR SAÚDE Essencial dá-lhe apoio ao nível da saúde. Um seguro sem custos de adesão e para toda a família, porque a saúde de todos está sempre em primeiro lugar.</p>
      </div>

      <div class="feature col">
        <div class="d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <img class="img-fluid d-sm-flex" src="/Images/Proteção Total.jpg" alt="briefcase" height="200">
        </div>
        <a href="/Total" class="icon-link"><h3 class="fs-2">Prevoir Proteção Total</h3></a>
        <p>Quando o risco está presente a cada minuto, é importante que se sinta protegido. O PRÉVOIR Solução Total garante-lhe a estabilidade financeira necessária para fazer face às despesas, em caso de um acidente ou de uma doença. Receberá um subsídio diário ou o pagamento de um capital, consoante a ocorrência. São mais do que boas razões para viver a vida em pleno!</p>
      </div>

      <div class="feature col">
        <div class="d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <img class="img-fluid d-sm-flex" src="/Images/Vida.jpg" alt="briefcase" height="200">
        </div>
        <a href="/Vida" class="icon-link"><h3 class="fs-2">Prevoir Vida</h3></a>
        <p> Proteção à sua medida, com capital em caso de Diagnóstico de Doenças Graves ou Cancro e capitais reforçados em caso de invalidez.</p>
      </div>

    </div>                   
</section>

<br>

<%- include("partials/footer.ejs") %>







