<%- include("partials/header.ejs") %>

<section>
  <div class="bloco_texto">
    <div class="row align-center">
      <div class="column small-12 medium-10">
          <div class="cont_tit">
            <h1 class="titulos">Um pé-de-meia para a sua reforma</h1>
          </div>
          <div class="textos">
            <h6>Quanto mais cedo começar a poupar, maior será o seu pé-de-meia. Sabendo que a reforma é um momento que se traduz por uma perda de rendimentos, comece já a construir uma poupança para o futuro. O <strong>PRÉVOIR PPR</strong> adapta-se à sua disponibilidade financeira com entregas únicas ou periódicas desde 25€ por mês.
                O PRÉVOIR PPR é investimento sem risco porque o capital poupança no termo será sempre, no mínimo, igual à soma dos prémios pagos. Para 2023, a taxa de rentabilidade será no mínimo de 1,50%.</h6>
                  <br>
                  <ul>
                    <li>Uma poupança flexível e adaptável</li>
                    <li>Entregas a partir de 25€ por mês</li>
                    <li>Garantia do capital investido</li>
                    <li>Fiscalidade vantajosa</li>
                    <li>Subscrição fácil</li>
                  </ul>
                </br>
                </br>
                  <div style="text-align: center;"><h4>Regime excecional de resgate de PPR sem penalização.</h4></div>
                      <div class="texto-ppr">
                  <p>Para mitigar as consequências sociais e económicas da subida da inflação, foi publicada a Lei n.º 19/2022 de 21 de outubro que estabelece no artigo nº 6 um regime excecional de resgate de PPR de 01 de outubro de 2022 até 31 de dezembro de 2023.</p>
                  <p>Sem prejuízo do disposto nos n.ºs 1 a 4 do artigo 4.º do Decreto-Lei n.º 158/2002, de 2 de julho, até 31 de dezembro de 2023 o valor de planos poupança-reforma (PPR), de planos poupança-educação (PPE) e de planos poupança-reforma/educação (PPR/E) pode ser reembolsado até ao limite mensal do Indexante dos Apoios Sociais (IAS) pelos participantes desses planos.</p>
                  <p>Em 2023, o valor a ser resgatado pode ir até ao limite mensal de 480,43€ (valor do IAS para o ano de 2023).</p>
                  <p>Adicionalmente, durante o ano de 2023, é permitido o resgate, parcial ou total, dos valores dos planos poupança para pagamento de prestações ou proceder ao reembolso antecipado de créditos garantidos por hipoteca sobre imóvel destinado a habitação própria e permanente, bem como de créditos à construção ou beneficiação de imóveis para habitação própria e permanente, e entregas a cooperativas de habitação em soluções de habitação própria e permanente, estando dispensadas da obrigação de permanência mínima de 5 anos para mobilização sem a penalização prevista no nº 4 do artigo 21º do Estatuto de Benefícios Fiscais.</p>
                  <p>Para o reembolso antecipado dos contratos de créditos garantidos por hipoteca atrás referidos, também é permitido o resgate até ao limite anual de 12 IAS (5.765,16€ em 2023), entre 28/06/2023 e 31/12/2023.</p>
                  <p>Estas situações são cumulativas, sendo possível ao tomador recorrer aos dois tipos de resgate acima referidos, dentro dos limites estabelecidos.</p>
                  <p>Para mais informações, <a href="./Contacto.html">contacte-nos.</a></p>
                      </div>
          </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="col-12 d-flex justify-content-center align-items-center">
      <h6>Mais informações, baixe o folheto informativo.</h6>   
  </div>
</section>

<section>
  <div class="col-12 d-flex justify-content-center align-items-center">
     <a href="/Folheto_peq._P.PPR_Outubro_2022_web.pdf"><img src="/Images/Folheto PPR.jpg" height="400" alt="Folheto"></a> 
  </div>
</section>
<br>
<br>

  <%- include("partials/footer.ejs") %>