<%- include("partials/header.ejs") %>

<section>
    <div class= "saude" class="column small-12 medium-10">
        <div class="cont_tit">
            <h1 class="titulos">A saúde em primeiro lugar </h1>
        </div>
        <div class="textos">
          <h6>Num mundo instável, repleto de incerteza, o&nbsp;<strong>PRÉVOIR SAÚDE Essencial</strong>&nbsp;dá-lhe apoio ao nível da saúde. Um seguro sem custos de adesão e para toda a família, porque a saúde de todos está sempre em primeiro lugar.</h6>
        </br>
            <ul>
                <li>Capital de 1.500€ para consultas, tratamentos e exames</li>
                <li>Capital de 15.000€ para internamento hospitalar</li>
                <li>Serviço Médico 24/7 sem limite de utilização</li>
                <li>Portabilidade ao estrangeiro</li>
            </ul>
        </div>
    </div>
</section>

<section>
    <div class="col-12 d-flex justify-content-center align-items-center">
        <h6>Mais informações, baixe o folheto informativo.</h6>   
    </div>
</section>

<section>
    <div class="col-12 d-flex justify-content-center align-items-center">
       <a href="/Folheto_PR_VOIR_SA_DE_Essencial_122020.pdf"><img src="/Images/Folheto Saude.jpg" height="400" alt="Folheto"></a> 
    </div>
</section>

<br>
<br>

  <%- include("partials/footer.ejs") %>