<%- include("partials/header.ejs") %>

<section>
  <div class="bloco_texto">
    <div class="row align-center">
      <div class="column small-12 medium-10">
          <div class="cont_tit">
            <h1 class="titulos">Para uma vida em Pleno!</h1>
          </div>
              <div class="textos">
                <h6>Quando o risco está presente a cada minuto, é importante que se sinta protegido. O <strong>PRÉVOIR Solução Total</strong> garante-lhe a estabilidade financeira necessária para fazer face às despesas, em caso de um acidente ou de uma doença. Receberá um subsídio diário ou o pagamento de um capital, consoante a ocorrência. São mais do que boas razões para viver a vida em pleno!</h6>
                <ul>
                  <li>Sem formalidades médicas</li>
                  <li>Em caso de acidente de circulação, pagamento de um capital de 50.000€</li>
                  <li>Subsídio diário em caso de hospitalização ou convalescença devido&nbsp;a acidente ou doença</li>
                  <li>Um capital até 5.000€ para&nbsp;lesões corporais (fraturas e queimaduras)</li>
                  <li>Um capital no termo do contrato</li>
                </ul>
              </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="col-12 d-flex justify-content-center align-items-center">
      <h6>Mais informações, baixe o folheto informativo.</h6>   
  </div>
</section>

<section>
  <div class="col-12 d-flex justify-content-center align-items-center">
     <a href="/Folheto_comercial_P._Solu_o_Total_v2022_Fev_2023_web.pdf"><img src="/Images/Folheto Solução Total.jpg" height="400" alt="Folheto"></a> 
  </div>
</section>

<section>
  <div id="Contato" class="gradient-background">
      <div class="container my-5">
          <div class="p-5 text-center bg-body-light rounded-3">
            <svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100"><use xlink:href="#bootstrap"></use></svg>
            <h1 class="text-body-emphasis">Solicite sua Simulação.</h1>
            <p class="col-lg-8 mx-auto fs-5 text-muted" class= "font-reponse">
              Entre em contacto com nosso consultor e faça uma simulação sem compromisso.
            </p>
            <div class="d-inline-flex gap-2 mb-5">
              <a href="./Contacto.html""><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Contato</button></a>
            </div>
          </div>
        </div>
  </div>
  </section>

  <%- include("partials/footer.ejs") %>