<%- include("partials/header.ejs") %>

<section>
  <div class="bloco_texto">
    <div class="row align-center">
      <div class="column small-12 medium-10">
              <div class="cont_tit">
                  <h1 class="titulos">Proteja o que tem de mais precioso.</h1>
              </div>
        <div class="textos">
          <h6>Ninguém está livre de um imprevisto! Conte com o <strong>PRÉVOIR Soluções Vida</strong>, um seguro de vida individual que lhe permite preservar o seu equilíbrio financeiro e o da sua família, em caso de morte, invalidez, hospitalização, cancro ou outras doenças graves.</h6>
          <br>
                <ul>
                  <li>Proteção em caso de Diagnóstico de Doenças Graves ou Diagnóstico de Cancro</li>
                  <li>Duplicação do capital seguro em caso de acidente</li>
                  <li>Subsídio diário em caso de hospitalização</li>
                  <li>Proteção reforçada em caso de Invalidez</li>
                  <li>Plano de proteção flexível</li>
                </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="col-12 d-flex justify-content-center align-items-center">
      <h6>Mais informações, baixe o folheto informativo.</h6>   
  </div>
</section>

<section>
  <div class="col-12 d-flex justify-content-center align-items-center">
     <a href="/Folheto_comercial_P._Solu_es_Vida_v2022_Mar_o_2022_web.pdf"><img src="/Images/Folheto Vida.jpg" height="500" alt="Folheto"></a> 
  </div>
</section>


<%- include("partials/footer.ejs") %>